<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--作者-->
    <add key="author" value="俞立钢" />
    <!--数据库类型-->
    <add key="database" value="SQLServer" />
    <!--服务器名称-->
    <add key="serverName" value="SKY-PC\SQL2008" />
    <!--登录名-->
    <add key="userName" value="sa" />
    <!--密码-->
    <add key="passWord" value="123456" />
    <!--NHibernate映射文件命名空间-->
    <add key="NhMappingNameSpace" value="Napoleon.Model.Mapping" />
    <!--NHibernate类库命名空间-->
    <add key="NhNameSpace" value="Napoleon.Model" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>